<!DOCTYPE html>
<html>
<head>
    <%-include includes/head_tags.ejs%>

    <%-include includes/include_css.ejs%>
</head>
<body>
    <div class="main-wrapper">
        <div class="preloader">
            <div class="lds-ripple">
                <div class="lds-pos"></div>
                <div class="lds-pos"></div>
            </div>
        </div>
        <div class="error-box">
            <div class="error-body text-center">
                <h1 class="error-title text-danger">404</h1>
                <h3 class="text-uppercase error-subtitle">PAGE NOT FOUND !</h3>
                <a href="/" class="btn btn-danger btn-rounded waves-effect waves-light m-b-40">Voltar para a página inicial</a> </div>
        </div>
    </div>

    <%-include includes/include_js.ejs%>
    <script>
        $('[data-toggle="tooltip"]').tooltip();
        $(".preloader").fadeOut();
    </script>
</body>
</html>