<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <table id="table">
        <thead>
            <tr>
                <th>Valor</th>
                <th>Moeda</th>
                <th>Status</th>
                <th>Data</th>
            </tr>
        </thead>
        <tbody>
            <% pagamentos.forEach(function (pagamentos) { %>
            <tr>
                <td><%= pagamentos.valor %></td>
                <td><%= pagamentos.moeda %></td>
                <td><%= pagamentos.status %></td>
                <td><%= pagamentos.data %></td>
            </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>