<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Controle de pagamentos por criptomoedas">
    <meta name="author" content="Vinicius de Souza Santos">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">
    <title>CryptoPay - Admin | Login</title>
    <!-- Custom CSS -->
    <link href="css/style.min.css" rel="stylesheet"/>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="bg-dark">
  <div class="container">
    <div class="row d-flex justify-content-center mt-5">
      <div class="col-5 d-flex justify-content-center">
        CryptoPay
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-5">
        <div class="card mt-5">
          <div class="card-header">Login</div>
          <div class="card-body">
            <form>
              <div class="form-group">
                <div class="form-label-group">
                  <input type="text" id="inputUser" class="form-control" placeholder="Digite seu nome de usuário" required="required" autofocus="autofocus">
                  <label for="inputUser">Nome de usuário</label>
                </div>
              </div>
              <div class="form-group">
                <div class="form-label-group">
                  <input type="password" id="inputPassword" class="form-control" placeholder="Insira sua senha" required="required">
                  <label for="inputPassword">Senha</label>
                </div>
              </div>
              <div class="form-group">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="remember-me">
                    Lembrar senha
                  </label>
                </div>
              </div>
              <a class="btn btn-primary btn-block" href="/dashboard">Login</a>
            </form>
            <div class="text-center mt-2">
              <a class="d-block small" href="forgot-password.html">Esqueceu a senha?</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <!-- All Jquery -->
    <script src="libs/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="libs/popper.js/dist/umd/popper.min.js"></script>
    <script src="libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="extra-libs/sparkline/sparkline.js"></script>
    <!--Wave Effects -->
    <script src="js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="js/custom.min.js"></script>
</body>
</html>
