<!DOCTYPE html>
<html>
<head>
  <%-include includes/head_tags.ejs%>

  <%-include includes/include_css.ejs%>
</head>
<body class="bg-dark">
  <div class="container">
    <div class="row d-flex justify-content-center mt-5">
      <div class="col-5 d-flex justify-content-center">
        <img src="images/wallet-bitcoin.png" alt="Bitcoin Wallet" width="100">
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-5">
        <div class="card mt-5">
          <div class="card-header">Login</div>
          <div class="card-body">
            <form name="form-login" id="form-login" action="/login" method="POST">
              <div class="form-group">
                <div class="form-label-group">
                  <input type="text" id="usuario" name="usuario" class="form-control" placeholder="Digite seu nome de usuário" required="required" autofocus="autofocus">
                  <label for="usuario">Nome de usuário</label>
                </div>
              </div>
              <div class="form-group">
                <div class="form-label-group">
                  <input type="password" id="senha" name="senha" class="form-control" placeholder="Insira sua senha" required="required">
                  <label for="senha">Senha</label>
                </div>
              </div>
              <div class="form-group">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="remember-me">
                    Lembrar senha
                  </label>
                </div>
              </div>
              <button type="submit" class="btn btn-primary btn-block" href="">Login</button>
            </form>
            <div class="text-center mt-2">
              <a class="d-block small" href="forgot-password.html">Esqueceu a senha?</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%-include includes/include_js.ejs%>
</body>
</html>
