<!DOCTYPE html>
<html>
<head>
  <%include includes/head_tags.ejs%>

  <%include includes/include_css.ejs%>

  <style>
    .circle {
      width:15px;
      height:15px;
      border-radius:50%;
      overflow:hidden;
    }
  </style>
</head>
<body>
  <div class="preloader">
    <div class="lds-ripple">
      <div class="lds-pos"></div>
      <div class="lds-pos"></div>
    </div>
  </div>
  <div id="main-wrapper" data-navbarbg="skin6" data-theme="light" data-layout="vertical" data-sidebartype="full"
    data-boxed-layout="full">
    <header class="topbar" data-navbarbg="skin6">
      <%include includes/navbar.ejs%>
    </header>

    <aside class="left-sidebar" data-sidebarbg="skin5">
      <%include includes/sidebar_left.ejs%>
    </aside>

    <div class="page-wrapper">
      <!-- Bread crumb -->
      <div class="page-breadcrumb">
        <div class="row">
          <div class="col-5 align-self-center">
            <h4 class="page-title">Relatório de vendas</h4>
          </div>
          <div class="col-7 align-self-center">
            <div class="d-flex align-items-center justify-content-end">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="#">Home</a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">Relatórios</li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </div>
      <!--End Bread crumb -->
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12">
                    <div class="m-3">
                      <form name="" id="" action="" class="form-inline">
                        <div class="form-group">
                          <label for="moeda" class="mr-2">Moeda</label>
                          <select name="moeda" id="moeda" class="custom-select">
                            <option value="">Bitcoin Testnet</option>
                            <option value="">Litecoin</option>
                            <option value="">Binance Coin</option>
                          </select>
                        </div>
                        <div class="form-group">
                          <label for="status" class="m-2">Status</label>
                          <select name="status" id="status" class="custom-select">
                            <option value="">Selecione...</option>
                            <option value="">Confirmado</option>
                            <option value="">Não confirmado</option>
                          </select>
                        </div>
                        <div class="form-group">
                          <label for="data" class="m-2">Data</label>
                          <input class="form-control" type="text" name="data" id="data">
                          <span class="m-2">à</span>
                          <input class="form-control" type="text" name="data2" id="data2">
                        </div>
                        <div class="form-group ml-auto">
                          <button type="submit" class="btn btn-sm btn-primary">Filtrar</button>
                        </div>
                      </form>
                    </div>
                    <div class="table-responsive">
                      <table class="table table-sm table-striped">
                        <thead class="thead-theme text-center">
                          <tr>
                            <th>Quantidade</th>
                            <th>Moeda</th>
                            <th>Valor R$</th>
                            <th>Status</th>
                            <th>Data</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% pagamentos.forEach(function(pagamentos){ %>
                          <tr>
                            <td class="text-right"><%= pagamentos.valor %></td>
                            <td class="text-center"><%= pagamentos.moeda %></td>
                            <td class="text-right">
                              <%= (pagamentos.valor * 36664.46).toFixed(2).replace('.',',') %>
                            </td>
                            <td class="text-center">
                              <div class="row justify-content-center">
                                <% if(pagamentos.confirmacoes < 3){ %>
                                <div class="circle bg-danger"></div>
                                <%} else {%>
                                <span class="circle bg-success"></span>
                                <%}%>
                              </div>
                            </td>
                            <td class="text-center"><%= pagamentos.dt_criacao.toLocaleString(["pt-br"], {}) %></td>
                          </tr>
                          <% }) %>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--End card-->
          </div>
          <!--End col-12-->
        </div>
        <!--End row-->
      </div><!-- End Container fluid  -->
      <!-- End Page wrapper  -->
    </div><!-- End Main-Wrapper -->

    <%include includes/include_js.ejs%>
</body>

</html>